<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/form.css">
    <title>Forum</title>
</head>

<body>
    <header class="nav">
        <div id="project_header">
            <h1><a href="/">FORUM</a></h1>
        </div>
        <div class="container">
            <div class="profile-icon">
                <a href="/post" class="btn-primary">New Post</a>
                <a href="/profile">{{.Username}}</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </header>

    {{if .Error}}
    <div class="error-container">
        {{.Message}}
    </div>
    {{end}}
    <div class="form-container">
        <form method="post"> <!-- TODO blocking enter press-->
            <input type="password" name="password" id="password" placeholder="Enter Your Password" required><br>
            <!-- <button formaction="/profile">cancel</button> -->
            <button formaction="/profile/delete/confirm">delete</button>
        </form>
    </div>

    <footer>
        <div class="footer-container">
            <p>&copy; 2025 FORUM — Built with ❤️ by the Forum Team</p>
        </div>
    </footer>
</body>

</html>