<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/error.css">
  <link rel="icon" href="/static/svg/favicon.svg" type="image/svg">
  <title>Error</title>
</head>

<body>
  <header class="header">
    <div class="header__logo">
      <a href="/" class="header__logo-link">
        <img src="/static/svg/logo.svg" alt="Logo" class="header__logo-img" />
      </a>
    </div>
  </header>

  <div class="error-container">
    <h1 class="error-title">{{.ErrorTitle}}</h1>
    <p class="error-message">{{.ErrorMessage}}</p>
    <p class="error-description">{{.ErrorDescription}}</p>
    <div class="error-details">
      <p>{{.StatusCode}}</p>
      <p> {{.StatusText}}</p>
    </div>
    <a href="/" class="home-button">Go Home</a>
  </div>

  <footer class="footer">
    <div class="footer__container">
      <p class="footer__text">
        &copy; 2025 FORUM — Built with 💙 by the Forum Team
      </p>
    </div>
  </footer>

</body>

</html>