<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Forum</title>
</head>

<body>

    <header class="nav">
        <div class="profile-icon">
            {{if .Authenticated}}
                <a href="/profile">{{.Username}}</a>
                <a href="/logout">Logout</a>
                <a href="/post">New Post</a>
            {{else}}
                <a href="/login">Login</a>
                <a href="/register">Sign Up</a>
                <a href="/post">New Post</a>
            {{end}}
        </div>
    </header>
    {{if .Authenticated}}
    <form action="/select-category" method="GET">
        <p> category: </p>
        <input type="submit" name="category" value="Technology">
        <input type="submit" name="category" value="DevOps">
        <input type="submit" name="category" value="Crypto">
        <input type="submit" name="category" value="Backend">
        <input type="submit" name="category" value="Frontend">
        <input type="submit" name="category" value="Machine Learning">
        <input type="submit" name="category" value="AI"> 
    </form>
    {{else}}
        <p> Welcome !!</p>
    {{end}}
    <main>
        {{if .Authenticated}}
        <div class="home">
            {{block "content" .Posts}}{{end}}
        </div>
        {{else}}
        <p> To Forum </p>
    {{end}}
    </main>

     <footer>
        &copy; 2025
    </footer>

</body>

</html>
