<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header class="nav">
        <div id="project_header">
            <h1><a href="/">FORUM</a></h1>
        </div>
        <div class="container">
            <div class="profile-icon">
                {{if .Authenticated}}
                <a href="/profile">{{.Username}}</a>
                <a href="/logout">Logout</a>
                <a href="/post" class="btn-primary">New Post</a>
                {{else}}
                <a href="/login">Login</a>
                <a href="/register">Sign Up</a>
                <a href="/post" class="btn-primary">New Post</a>
                {{end}}
            </div>
        </div>
    </header>

    <section class="filter-section">

        <h3>Select Categories</h3>
        <form action="/filterby" method="GET">
            <h2>Filter by Categories</h2>

            <div class="filters">
                <select name="filter" id="category-filter">
                    <option value="Cybersecurity">Cybersecurity</option>
                    <option value="Cloud Computing & Virtualization">Cloud Computing & Virtualization</option>
                    <option value="Systems Programming">Systems Programming</option>
                    <option value="IoT (Internet of Things)">IoT (Internet of Things)</option>
                    <option value="Artificial Intelligence and Machine Learning">Artificial Intelligence and Machine
                        Learning</option>
                    <option value="Data Science & Big Data">Data Science & Big Data</option>
                    <option value="Networking & Telecommunications">Networking & Telecommunications</option>
                    <option value="DevOps & SRE">DevOps & SRE</option>
                    <option value="Database Systems">Database Systems</option>
                    <option value="Reverse Engineering">Reverse Engineering</option>
                    <option value="Mobile & Embedded Development">Mobile & Embedded Development</option>
                    <option value="Software Engineering">Software Engineering</option>

                    {{if .Authenticated}}
                    <option value="Owned">Owned</option>
                    <option value="Likes">Likes</option>
                    {{end}}
                </select>
                <input type="submit" value="Submit">
            </div>
        </form>



    </section>

    <main class="home">
        <div class="container">
            {{block "content" .Posts}}{{end}}
        </div>
    </main>
</body>

</html>