<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header class="nav">
        <div id="project_header">
            <h1><a href="/">FORUM</a></h1>
        </div>
        <div class="container">
            <div class="profile-icon">
                {{if .Authenticated}}
                <a href="/profile">{{.Username}}</a>
                <a href="/logout">Logout</a>
                <a href="/post" class="btn-primary">New Post</a>
                {{else}}
                <a href="/login">Login</a>
                <a href="/register">Sign Up</a>
                <a href="/post" class="btn-primary">New Post</a>
                {{end}}
            </div>
        </div>
    </header>

    <section class="filter-section">
        <form action="/filterby" method="GET">
            <h2>Filter by Categories</h2>
            <div class="filters">
                <select name="filter" id="category-filter">

                    {{range $key, $value := .Fields}}
                    <option value="{{$key}}">{{$key}}</option>
                    {{end}}

                    {{if .Authenticated}}
                    <option value="Owned">Owned</option>
                    <option value="Likes">Likes</option>
                    {{end}}
                </select>
                <input type="submit" value="Submit">
            </div>
        </form>
    </section>

    <main class="home">
        <div class="container">
            {{block "content" .Posts}}{{end}}
        </div>
    </main>

    <div class="pagination">
        {{if .HasPrev}}
        <a href="/?page={{.PrevPage}}">Previous</a>
        {{end}}
        {{if .PrintCurrentPage}}
            Page {{.CurrentPage}}
        {{end}}
        {{if .HasNext}}
        <a href="/?page={{.NextPage}}">Next</a>
        {{end}}
    </div>

</body>

</html>