<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/authentification.css">
    <title>Forum</title>
</head>

<body>
    <header class="nav">
        <div id="project_header">
            <h1><a href="/">FORUM</a></h1>
        </div>
    </header>

    {{if .Error}}
    <div class="error-container">
        {{.Message}}
    </div>
    {{end}}
    <div class="form-container">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <input type="text" id="username" name="username" minlength="3" maxlength="254"
                placeholder="Username or Email" required>
            <input type="password" id="password" name="password" minlength="6" maxlength="72" placeholder="Password"
                required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a>.</p>
    </div>
    <footer>
        <div class="footer-container">
            <p>&copy; 2025 FORUM — Built with ❤️ by the Forum Team</p>
        </div>
    </footer>
</body>

</html>