<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/post.css">
    <title>post</title>
</head>
<body>
    {{if .Error}}
        <div class="error-container">
            {{.Message}}
        </div>
    {{end}}
    <div class="form-container">
        <h1>post</h1>
        <form action="/post" method="POST">
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title"  maxlength="50" required>
            </div>

            <div>
                <label for="content">content:</label>
                <input type="text" id="content" name="content" maxlength="400" required>
            </div>

            <div>
                <!-- <select name="Categories" id="CategorySelect" multiple required> -->
                    <!-- {{range $key, $value := .Fields}}
                        <option value="{{$key}}">{{$key}}</option>
                    {{end}}
                </select> -->
            
            <fieldset>
                <legend>Select Categories</legend>
                {{range $key, $value := .Fields}}
                <label>
                  <input type="checkbox" name="Categories" value="{{$key}}">
                  {{$key}}
                </label><br>
              {{end}}
            </fieldset>

            </div>
            <button type="submit">post</button>
        </form>
        <p>cancel? <a href="/"> here</a>.</p>
    </div>
</body>
</html>