{{define "post_component"}}
<div class="container">
  <a href="/post?Id={{.Id}}">
    <div class="post">
      <div class="post_head" id="{{.Id}}">
        <h2>{{.Title}}</h2>
        <div>Published by <strong>{{.Publisher}}</strong> {{if .HasCategories}}in{{end}} <em>{{range .Catigories}}{{.}},
            {{end}}</em></div>
      </div>

      <section>
        <p>{{.Content}}</p>
      </section>
  </a>
  <footer>
    <div id="likes_dislikes_comment">

      {{if .IsLikedByUser}}
      <form action="/like" method="POST">
        <input type="hidden" name="post_id" value="{{.Id}}">
        <button type="submit"><img src="/static/svg/green_like.svg" alt="comment"> {{.Likes}}</button>
      </form>
      {{else}}
      <form action="/like" method="POST">
        <input type="hidden" name="post_id" value="{{.Id}}">
        <button type="submit"><img src="/static/svg/like.svg" alt="comment"> {{.Likes}}</button>
      </form>
      {{end}}

      {{if .IsDislikedByUser}}
      <form action="/dislike" method="POST">
        <input type="hidden" name="post_id" value="{{.Id}}">
        <button type="submit"><img src="/static/svg/red_dislike.svg" alt="comment"> {{.Dislikes}}</button>
      </form>
      {{else}}
      <form action="/dislike" method="POST">
        <input type="hidden" name="post_id" value="{{.Id}}">
        <button type="submit"><img src="/static/svg/dislike.svg" alt="comment"> {{.Dislikes}}</button>
      </form>
      {{end}}
      <a href="/post?Id={{.Id}}#comment"><img src="/static/svg/comment.svg" alt="comment"> {{.CommentsCount}}</a>
    </div>

    {{if not .IsEdited}}
    <p><time datetime="{{.Created_at}}">Created: {{.Created_at}}</time></p>
    {{else}}
    <p>
      <time datetime="{{.Created_at}}">Created: {{.Created_at}}</time> |
      <time datetime="{{.Updated_at}}">Updated: {{.Updated_at}}</time>
    </p>
    {{end}}
  </footer>
  </div>
</div>
{{end}}
