<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/authentification.css">
    <link rel="icon" href="/static/svg/favicon.svg" type="image/svg">
    <title>Register</title>
</head>

<body>
    <header class="header">
        <div class="header__logo">
          <a href="/" class="header__logo-link">
            <img src="/static/svg/logo.svg" alt="Logo" class="header__logo-img" />
          </a>
        </div>
    </header>

    {{if .Error}}
    <div class="error-container">
        {{.Message}}
    </div>
    {{end}}
    <div class="form-cont">
        <h1>Register</h1>
        <form action="/register" method="POST">
            <input type="text" id="username" name="username" minlength="3" maxlength="32" placeholder="User Name"
                required>
            <input type="email" id="email" name="email" minlength="6" maxlength="254" placeholder="Email" required>
            <input type="password" id="password" name="password" minlength="8" maxlength="72" placeholder="Password"
                required>
            <input type="password" id="confirm_password" name="confirm_password" minlength="8" maxlength="72"
                placeholder="Confirm Password" required>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login here</a>.</p>
    </div>

    <footer class="footer">
        <div class="footer__container">
          <p class="footer__text">
            &copy; 2025 FORUM — Built with ❤️ by the Forum Team
          </p>
        </div>
      </footer>
</body>

</html>